<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SAEFA</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="css/custom.css" rel="stylesheet">
    <!-- Custom Fonts from Google -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>

<body>

<!-- Navigation -->
<nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Logo and responsive toggle -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">SAEFA</a>
        </div>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="admin">Admin App</a></li>
                <li><a href="customer">Customer App</a></li>
                <li><a href="/swagger-ui/index.html">API description</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>

<!-- Header -->
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>SAEFA</h1>
            <p>A Self-Adaptive eFood App</p>
            <!-- <a href="#" class="btn btn-primary btn-lg">Engage Now</a> -->
        </div>
    </div>
</header>

<!--
<h1>SAEFA</h1>
<p>A Self-Adaptive eFood App</p>
<br>
<p><a href="admin/web">Admin App</a></p>
<p><a href="client/web">Customer App</a></p>
<p><a href="/swagger-ui/index.html">OpenAPI description</a></p>
-->

<!-- Footer -->
<footer class="page-footer">
    <div class="small-print">
        <div class="container">
            <p>SAEFA - A Self-Adaptive eFood App</p>
        </div>
    </div>
</footer>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body> 
</html>