<html lang="en">
<th:block th:include="fragments/head :: head"></th:block>
<body>

<th:block th:include="fragments/navbar :: navbar(2,${cartId})"></th:block>

<div class="content">
    <h2>Online payment is not available</h2>
    <h3>The order can be placed by paying cash upon delivery. Do you still want to confirm your order? </h3>
    <form th:action="|/customer/cart/${cartId}/confirmCashPayment|" method="POST">
        <div>
            <label>Delivery Address</label>
            <input type="text" th:field="${formData.address}" required>
        </div>
        <div>
            <label>Delivery Street Number</label>
            <input type="text" th:field="${formData.number}" required>
        </div>
        <div>
            <label>Delivery Postal Code</label>
            <input type="text" th:field="${formData.zipcode}" required>
        </div>
        <div>
            <label>Delivery City</label>
            <input type="text" th:field="${formData.city}" required>
        </div>
        <div>
            <label>Telephone</label>
            <input type="text" th:field="${formData.telephoneNumber}" required>
        </div>
        <div>
            <label>Delivery Date</label>
            <input type="datetime-local" th:field="${formData.scheduledTime}" required>
        </div>
        <input type="submit" value="Confirm Order">
    </form>
    <form th:action="|/customer/cart/${cartId}/|" method="GET">
        <input type="submit" value="Go to cart">
    </form>

</div>

<hr/>


<th:block th:include="fragments/footer :: footer"></th:block>
<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>