<html lang="en">
<th:block th:include="fragments/head :: head"></th:block>
<body>

<th:block th:include="fragments/navbar :: navbar(2,${cartId})"></th:block>

<div class="content">
    <h3>Menu of Restaurant <span th:text="${restaurant.name}">name goes here</span></h3>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="menuItem : ${menu.getMenuItems()}">
                <td th:text="${menuItem.id}">id goes here</td>
                <td th:text="${menuItem.name}">name goes here</td>
                <td th:text="${menuItem.price}">price goes here</td>
            </tr>
        </tbody>
    </table>
</div>

<hr/>


<th:block th:include="fragments/footer :: footer"></th:block>
<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>