<html lang="en">
<th:block th:include="fragments/head :: head"></th:block>
<body>

<th:block th:include="fragments/navbar :: navbar(2,null)"></th:block>

<div class="content">
    <h4>Available restaurants</h4>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="restaurant : ${restaurants}">
                <td>
                    <a th:href="@{'/customer/restaurants/'+${restaurant.id}}">
                        <span th:text="${restaurant.name}">link</span>
                    </a>
                </td>
                <td th:text="${restaurant.location}">location goes here</td>
                <td th:text="${restaurant.id}">id goes here</td>
            </tr>
        </tbody>
    </table>
</div>
<hr/>



<th:block th:include="fragments/footer :: footer"></th:block>
<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>