<html lang="en">
<th:block th:include="fragments/head :: head"></th:block>
<body>

<th:block th:include="fragments/navbar :: navbar(0,null)"></th:block>


<div class="content">
    <h3 th:if="${error==null}">Order confirmed!</h3>
    <h5 th:if="${error!=null}" th:text="${error}"> </h5>
    <h5 th:if="${takeaway!=null}" th:text="${takeaway}"> </h5>
    <h5 th:if="${cash!=null}" th:text="${cash}"> </h5>

</div>



<th:block th:include="fragments/footer :: footer"></th:block>
<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>