<html lang="en">
<th:block th:include="fragments/head :: head"></th:block>
<body>

<th:block th:include="fragments/navbar :: navbar(1)"></th:block>


<div class="content">
    <p>HOME</p>
    <div class="row">
        <div class="column" th:each="service : ${currentConfiguration}">
            <div class="card">
                <h5>Service</h5>
                <h6 th:text="${service.getServiceId()}">Service name goes here</h6>
                <h5>Implemented by</h5>
                <h6 th:text="${service.getCurrentImplementation()}">Implementation name goes here</h6>
                <h5>Active instances</h5>
                <a th:href="@{'/customer/restaurants/'+${restaurant.id}+'/menu'}">Restaurants menu</a>
                <h5>Configuration</h5>
                <h6 th:text="${service.getConfiguration().toString()}">Configuration goes here</h6>
            </div>
        </div>
    </div>

</div>

<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/image-map-resizer/1.0.3/js/imageMapResizer.min.js"></script>
<script>
    $(document).ready(function() {
        $('image-map').imageMapResize();
    });
</script>

<table>
        <tbody>
        <tr th:each="service : ${currentConfiguration}">
            <td th:text="${service.getServiceId()}">Service name goes here</td>
            <td>Implemented by</td>
            <td th:text="${service.getCurrentImplementation()}">Implementation name goes here</td>
        </tr>
        </tbody>
    </table>
-->

<th:block th:include="fragments/footer :: footer"></th:block>
<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>