<html lang="en">
<th:block th:include="fragments/head :: head"></th:block>
<body>

<th:block th:include="fragments/navbar :: navbar(1)"></th:block>


<div class="content">
    <div class="row">
        <div class="column" th:each="serviceId : ${servicesIds}">
            <div class="card">
                <h5 class="cardElementTitle">Service</h5>
                <h6 class="cardElementContent" th:text="${serviceId}">Service name goes here</h6>
                <h6><a th:href="@{'/'+${serviceId}}">Show details and active instances</a></h6>
                <br>
                <h5 class="cardElementTitle">Current Implementation</h5>
                <table class="configTable">
                    <tbody>
                    <tr th:each="entry : ${servicesCurrentImplementationTable.get(serviceId)}">
                        <td th:text="${entry[0]}">Key goes here</td>
                        <td th:text="${entry[1]}">Value goes here</td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <h5 class="cardElementTitle">Configuration</h5>
                <table class="configTable">
                    <tbody>
                        <tr th:each="entry : ${servicesConfigurationTable.get(serviceId)}">
                            <td th:text="${entry[0]}">Key goes here</td>
                            <td th:text="${entry[1]}">Value goes here</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h5 class="cardElementTitle">Adaptation Parameters</h5>
                <table class="configTable">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Value</th>
                            <th>Threshold</th>
                            <th>Weight</th>
                            <th>Priority</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="entry : ${servicesAdaptationParametersTable.get(serviceId)}">
                            <td th:text="${entry[0]}">Key goes here</td>
                            <td th:text="${entry[1]}">Value goes here</td>
                            <td th:text="${entry[2]}">Threshold goes here</td>
                            <td th:text="${entry[3]}">Weight goes here</td>
                            <td th:text="${entry[4]}">Priority goes here</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<th:block th:include="fragments/footer :: footer"></th:block>
<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>