<html lang="en">
<th:block th:include="fragments/head :: head"></th:block>
<body>

<th:block th:include="fragments/navbar :: navbar(2)"></th:block>




<div class="content">
    <div th:if="${failedModule != null}">
        <h4 th:text="@{'LOOP INTERRUPTED: '+${failedModule.toString()}+' failed!'}"></h4>
    </div>
    <table class="simpleTable">
        <thead>
            <tr>
                <th><h3>Service</h3></th>
                <th th:colspan="${adaptationHistorySize}"><h3>Latest Adaptation Options applied</h3></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="entry : ${historyTable.entrySet()}">
                <td th:text="${entry.getKey()}">Service Id goes here</td>
                <td style="white-space: pre;" th:each="i : ${#numbers.sequence(0, adaptationHistorySize-1)}" th:text="${entry.getValue()[i]}"></td>
            </tr>
        </tbody>
    </table>
    <br><br>
    <div th:if="${activeModule != null}">
        <h3 th:text="@{'Active Module: '+${activeModule}}">Active Module here</h3>
        <br>
        <p th:text="${statusDescription}">Status description here</p>
    </div>
    <h3 th:if="${activeModule == null}">Active Module: N/A</h3>

</div>


<th:block th:include="fragments/footer :: footer"></th:block>
<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

</body>
</html>