<html lang="en">
<th:block th:include="fragments/head :: head"></th:block>
<body>

<th:block th:include="fragments/navbar :: navbar(2)"></th:block>




<div class="content">
    <table class="simpleTable">
        <thead>
        <tr>
            <th><h3>Service</h3></th>
            <th th:colspan="${adaptationHistorySize}"><h3>Latest Adaptation Options applied</h3></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${historyTable.entrySet()}">
            <td th:text="${entry.getKey()}">Service Id goes here</td>
            <td style="white-space: pre;" th:each="opt : ${entry.getValue()}" th:text="${opt}"></td>
        </tr>
        </tbody>
    </table>
    <br><br>
    <h3>Active Module: ANALYSE</h3>
    <br>
    <p>Analyse module is computing the adaptation options from the metrics collected by the monitor</p>
</div>


<th:block th:include="fragments/footer :: footer"></th:block>
<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

</body>
</html>