<html lang="en">
<th:block th:include="fragments/head :: head"></th:block>
<body>

<th:block th:include="fragments/navbar :: navbar(1)"></th:block>


<div class="content">
    <div class="column">
    <div class="card">
        <h5 class="cardElementTitle">Service</h5>
        <h6 class="cardElementContent" th:text="${serviceId}">Service name goes here</h6>
        <br>
        <h5 class="cardElementTitle">Possible implementations</h5>
        <h6 class="cardElementContent" th:each="impl : ${possibleImplementations}" th:text="${impl}">Implementation name goes here</h6>
        <br>
        <h5 class="cardElementTitle">Instances</h5>
        <table class="configTable">
            <thead>
            <tr>
                <th>InstanceId</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry : ${instancesTable}">
                <td th:text="${entry[0]}">InstanceId goes here</td>
                <td th:text="${entry[1]}">Status goes here</td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>


<th:block th:include="fragments/footer :: footer"></th:block>
<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>