<html lang="en">
<th:block th:include="fragments/head :: head"></th:block>
<body>

<th:block th:include="fragments/navbar :: navbar(1)"></th:block>


<div class="content">
    <div class="card">
        <h4>Service</h4>
        <h5 th:text="${service.getServiceId()}">Service name goes here</h5>
        <br>
        <h5>Current Implementation</h5>
        <h6 th:text="${service.getCurrentImplementation()}">Impl goes here</h6>
        <h6 th:text="${currentImplementation.toString()}">Impl goes here</h6>
        <br>
        <h5>Instances</h5>
        <h6 th:each="instance : ${service.getInstances().values()}" th:text="${instance.toString()}">Instances goes here</h6>
    </div>
</div>


<th:block th:include="fragments/footer :: footer"></th:block>
<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>