<html lang="en">
<th:block th:include="fragments/head :: head"></th:block>
<body>

<th:block th:include="fragments/navbar :: navbar(1)"></th:block>


<div class="content">
    <table class="detailsTable">
        <tbody>
            <tr>
                <td class="col1">
                    <div class="row">
                        <div class="column">
                            <div class="card">
                                <h5 class="cardElementTitle">Service</h5>
                                <h6 class="cardElementContent" th:text="${serviceId}">Service name goes here</h6>
                                <br>
                                <h5 class="cardElementTitle">Possible implementations</h5>
                                <h6 class="cardElementContent" th:each="impl : ${possibleImplementations}" th:text="${impl}">Implementation id goes here</h6>
                                <br>
                                <h5 class="cardElementTitle">Latest Adaptation Date</h5>
                                <h6 class="cardElementContent" th:text="${latestAdaptationDate}">latestAdaptationDate goes here</h6>
                                <br>
                                <h5 class="cardElementTitle">Instances</h5>
                                <table class="configTable">
                                    <thead>
                                    <tr>
                                        <th>InstanceId</th>
                                        <th>Status</th>
                                        <th th:if="${isLoadBalanced}">LB Weight</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="entry : ${instancesTable}">
                                        <td><a th:href="@{'/service/'+${serviceId}+'/'+${entry[0]}}" th:text="${entry[0]}">instanceId here</a></td>
                                        <td th:text="${entry[1]}">Status goes here</td>
                                        <td th:if="${isLoadBalanced}" th:text="${entry[2]}">Weight goes here</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="col2">
                    <div class="row">
                        <div class="column" th:each="graph : ${graphs}">
                            <div class="card" th:if="${!graph.isEmpty()}" th:id="${graph.getYAxisName()}"></div>
                            <div th:if="${graph.isEmpty()}" th:text="@{'No data to display for '+${graph.getYAxisName()}}"></div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<th:block th:include="fragments/footer :: footer"></th:block>
<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- Graphs scripts -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script th:inline="javascript" type="text/javascript" th:each="graph : ${graphs}" th:id="${graph.getYAxisName()}">
    google.charts.load('current', {'packages':['line']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        /*<![CDATA[*/
        var xAxisName = /*[[${graph.getXAxisName()}]]*/;
        var yAxisName = /*[[${graph.getYAxisName()}]]*/;
        var pointsList = /*[[${graph.getPoints()}]]*/;
        //console.log(yAxisName);
        console.log(pointsList);
        /*]]>*/
        var data = new google.visualization.DataTable();
        data.addColumn('string', xAxisName);
        data.addColumn('number', "Before Adaptation");
        data.addColumn('number', "After Adaptation");
        data.addRows(pointsList);

        var options = {
            chart: { title: yAxisName },
            legend: {
                position: 'none'
            },
            backgroundColor: '#f1f1f1',
            chartArea: {
                backgroundColor: '#f1f1f1'
            },
            width: Math.max(screen.availWidth/3.1, 450),
            height: Math.max(screen.availHeight/2.6, 350),
            axes: {
                x: {
                    0: {side: 'bottom'}
                }
            },
            series: {
                0: {color: '#3072f6'},
                1: {color: 'rgb(70,252,10)'}
            }
        };

        var chart = new google.charts.Line(document.getElementById(yAxisName));
        chart.draw(data, google.charts.Line.convertOptions(options));
    }
</script>

</body>
</html>